<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>infiltrator-iced</string>
    <key>CFBundleIdentifier</key>
    <string>app.musicfrog.infiltrator</string>
    <key>CFBundleName</key>
    <string>Infiltrator</string>
    <key>CFBundleDisplayName</key>
    <string>Infiltrator</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.20.0</string>
    <key>CFBundleVersion</key>
    <string>0.20.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>LSUIElement</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>app.musicfrog.infiltrator</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>infiltrator</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
